
<%# <div class="row" style="margin-top: 30px">
    <div class="col-12"> %>
      <div class="card" style="width: 100%">
        <%# <img src="#" class="card-img-top" alt="..."> %>
        <% if @suitcase.photo.attached? %>
            <%= cl_image_tag @suitcase.photo.key, class: "card-img-top"%>
        <% else %>
            <%= cl_image_tag ("waves_vacation_omfcsd.png"), class: "card-img-top" %>
        <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= @suitcase.name %></h5>
            <p class="card-text"><span><strong>Destination</strong></span> : <%= @suitcase.destination %></p>
            <p class="card-text"><span><strong>Arrivée</strong></span> : <%= @suitcase.start_date %></p>
            <p class="card-text"><span><strong>Départ</strong></span> : <%= @suitcase.end_date %></p>
          </div>
      </div>
    <%# </div>
  </div> %>


<% if suitcase.photo.attached? %>
        <%= link_to suitcase_path(suitcase) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path suitcase.photo.key %>)">
            <h3><%= suitcase.name %></h3>
            <h6>Ma valise pour <strong><%= suitcase.destination %></strong></h6>
          </div>
        <% end %>
      <% else %>
        <%= link_to suitcase_path(suitcase) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("waves_vacation_omfcsd.png") %>)">
            <h3><%= suitcase.name %></h3>
            <h6>Ma valise pour <strong><%= suitcase.destination %></strong></h6>
          </div>

<br>

<div class="container">
  

    <div>
      <%= link_to "Ajouter un article dans ma valise", new_suitcase_item_path(@suitcase), class: "btn btn-primary suggestions" %>
    </div>
  

  <div class="row" style="margin-top: 20px">
    <div class="col-12" style="display: flex; justify-content: center; align-items: center">
      <div>
        <%= link_to "Emballé", suitcase_path(@suitcase, filter: :checked), class: "btn btn-success btn-packed" %>
        <%= link_to "Pas emballé", suitcase_path(@suitcase, filter: :unchecked), class: "btn btn-success btn-packed" %>
        <%= link_to "Tous", suitcase_path(@suitcase), class: "btn btn-success btn-packed" %>
      </div>
    </div>
  </div>
  

   <br>
  <%#= form_tag suitcase_path(@suitcase), method: :get do %>
      <%#= check_box_tag 'checked' %>
      <%#= submit_tag "Filtrer", class: "btn btn-primary" %>
  <%# end %>
    
  <div class="row">
    <div class="col-12">
        <% @items.each do |item| %>
        <div class="item-wrap">
          <div class="item-packed">
            <%if item.packed %>
              <% cta = '<i class="fas fa-check-circle"></i>'.html_safe %> 
            <% else %>
              <% cta = '<i class="far fa-circle"></i>'.html_safe %>
            <% end %>
            <%= link_to cta, item_tick_path(item), method: :patch, remote: true %>
          </div>
          <div class="item-name">
            <strong><%= item.name %></strong>
          </div>  
          <div class="item-remove">
            <%= link_to image_tag("rubbish.png", class: "remove-picture"), item_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
        <% end %>    
    </div>
  </div>
  <div>
    <%= link_to "Voir des suggestions", suitcase_interests_path(@suitcase), class: "btn btn-warning suggestions" %>
  </div>
  
</div>
