<div class="container">
  <%= link_to "Ajouter une nouvelle valise", new_suitcase_path, class: "btn btn-success" %><br><br>
  <h1>Mes valises à venir</h1>
  <br>
  <% @suitcases.each do |suitcase|%>
    <% if suitcase.end_date >= Date.today %>
      <% if suitcase.photo.attached? %>
        <%= link_to suitcase_path(suitcase) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path suitcase.photo.key %>)">
            <h3><%= suitcase.name %></h3>
            <h6>Ma valise pour <strong><%= suitcase.destination %></strong></h6>
          </div>
        <% end %>
      <% else %>
        <%= link_to suitcase_path(suitcase) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("waves_vacation_omfcsd.png") %>)">
            <h3><%= suitcase.name %></h3>
            <h6>Ma valise pour <strong><%= suitcase.destination %></strong></h6>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <h1>Mes valises passées</h1>
  <br>
  <% @suitcases.each do |suitcase|%>
    <% if suitcase.end_date <= Date.today %>
      <% if suitcase.photo.attached? %>
        <%= link_to suitcase_path(suitcase) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path suitcase.photo.key %>)">
            <h3><%= suitcase.name %></h3>
            <h6>Ma valise pour <strong><%= suitcase.destination %></strong></h6>
          </div>
        <% end %>
      <% else %>
        <%= link_to suitcase_path(suitcase) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("waves_vacation_omfcsd.png") %>)">
            <h3><%= suitcase.name %></h3>
            <h6>Ma valise pour <strong><%= suitcase.destination %></strong></h6>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>









