<div class="container">
  <h1>Mes valises à venir</h1>
  <br>
  <div class="row">
    <% @suitcases.each do |suitcase|%>
      <% if suitcase.end_date > Date.today %>
         <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
            <div class="card">
              <div class="card-index-photo">
                <% if suitcase.photo.attached? %>
                  <%= cl_image_tag suitcase.photo.key, height: 125, width: 375, crop: :fill %>
                <% else %>
                  <%= cl_image_tag ("waves_vacation_omfcsd.png"), height: 125, width: 375, crop: :fill %>
                <% end %>
              </div>
             <div class="card-body">
               <h3 class="card-title"><%= suitcase.name %></h3>
               <h6 class="card-title"><strong>Ma valise pour</strong> <%= suitcase.destination %></h6>
               <%= link_to "Accéder à ma valise", suitcase_path(suitcase)  %>
             </div>
            </div>
            <br>
        </div>
      <% end %>
    <% end %>
  </div>
  <h1>Mes valises passées</h1>
  <br>
  <div class="row">
    <% @suitcases.each do |suitcase|%>
      <% if suitcase.end_date < Date.today %>
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="card-index-photo">
              <% if suitcase.photo.attached? %>
                <%= cl_image_tag suitcase.photo.key, height: 125, width: 375, crop: :fill %>
              <% else %>
                <%= cl_image_tag ("waves_vacation_omfcsd.png"), height: 125, width: 375, crop: :fill %>
              <% end %>
            </div>
            <div class="card-body">
              <h3 class="card-title"><%= suitcase.name %></h3>
              <h6 class="card-title"><strong>Ma valise pour</strong> <%= suitcase.destination %></h6>
              <%= link_to "Accéder à ma valise", suitcase_path(suitcase) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>









