<div class="container">
  <h1>Add a new suitcase. Have a fantastic trip!</h1>
  <%= simple_form_for(@suitcase) do |f| %>
    <%= f.input :name, placeholder: 'Week-end à la mer' %>
    <%= f.input :destination, placeholder: 'Barcelone' %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>
</div>
