<div class="container my-3">
  <h4 class="text-center my-3">Ajouter une nouvelle valise</h4>
  <%= simple_form_for(@suitcase) do |f| %>
    <%= f.input :name, placeholder: 'Week-end à la mer', label: "Nom du voyage" %>
    <%= f.input :destination, placeholder: 'Barcelone' %>
    <%= f.input :start_date, as: :string, input_html: {class: "datepicker"}, placeholder: "2020-08-01", label: "Date de départ" %>
    <%= f.input :end_date, as: :string, input_html: {class: "datepicker"}, placeholder: "2020-08-20",  label: "Date de retour" %>
    <div class="custom-control custom-switch px-3">
      <%= f.input :shared, as: :boolean, label: "Partager ma valise avec des compagnons", input_html: { class: "custom-control-input"}, label_html: { class: "custom-control-label" } %>
    </div>
    <%= f.input :photo, input_html: { class: 'hidden d-none', id: 'photo-input'}, label_html: { class: 'btn-success btn my-3'}, label: '📷 Upload a photo' %>
    <%= image_tag "", width: 100, class: "hidden", id: "photo-preview" %>
    <%= f.button :submit, "Créer", class: "btn btn-primary btn-block mb-5" %>
  <% end %>
</div>
