<div class="container">
  <h1>Add a new suitcase. Have a fantastic trip!</h1>
  <%= simple_form_for(@suitcase) do |f| %>
    <%= f.input :name, placeholder: 'Week-end à la mer' %>
    <%= f.input :destination, placeholder: 'Barcelone' %>
    <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "2020-08-01" %>
    <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "2020-08-20" %>
    <%= f.submit %>
  <% end %>
</div>
