<div class="container">
  <h1><%= @suitcase.name %></h1>
  <h5><strong>For: </strong><%= @suitcase.destination %></h5>
  <h5><strong>From: </strong><%= @suitcase.start_date %></h5>
  <h5><strong>Until: </strong><%= @suitcase.end_date %></h5>
  <h5>Articles dans ma valise : </h5>
  <ul>
  <% @items.each do |item| %>
  <%= item.name %>
  <%= item.packed %>
  <%= link_to "Remove", item_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  </ul>
</div>


