<% content_for :meta_title, "Ma valise pour partir en voyage" %>
<meta name="turbolinks-visit-control" content="reload">
<% if @suitcase.shared %>
  <%= link_to '+', new_suitcase_shared_item_path(@suitcase), class: "btn-circle-plus"  %>
<% else %>
  <%= link_to '+', new_suitcase_item_path(@suitcase), class: "btn-circle-plus" %>
<% end %>

<div class="container">
  <% if @suitcase.photo.attached? %>
    <div style=" display: flex; align-items: center; padding-top: 15px">
      <div>
        <%= image_tag (cl_image_path @suitcase.photo.key), class: "avatar-large", alt: "avatar-large" %>
      </div>
      <div>
        <div style="margin-left: 15px"><h3><%= @suitcase.name %></h3></div>
        <div style="margin-left: 15px"><strong><%= @suitcase.destination %></strong></h6></div>
      </div>
    </div>
  <% else %>
    <div style=" display:flex; align-items: center; padding-top: 15px">
      <div>
        <%= image_tag (cl_image_path("waves_vacation_omfcsd.png")), class: "avatar-large", alt: "avatar-large" %>
      </div>
      <div>

        <div style="margin-left: 15px"><h3><%= @suitcase.name %></h3></div>
        <div style="margin-left: 15px"><strong><%= @suitcase.destination %></strong></h6></div>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-12" style="display: flex; justify-content: space-between; align-items: center">
      <% if @suitcase.shared == true %>
        <%= link_to "Tous", suitcase_path(@suitcase, filter: @all ? "" : :all), class: "py-1 px-2  #{params[:filter] == "all" || params[:filter].nil? || params[:filter] == "" ? "btn-checked" : "btn-ghost"}" %>
        <%= link_to "Emballés", suitcase_path(@suitcase, filter: @checked ? "" : :checked), class: "py-1 px-2 #{params[:filter] == "checked" ? "btn-checked" : "btn-ghost"}" %>
        <%= link_to "Pas emballés", suitcase_path(@suitcase, filter: @unchecked ? "" : :unchecked), class: "py-1 px-2  #{params[:filter] == "unchecked" ? "btn-checked" : "btn-ghost"}" %>
        <%= link_to "Partagés", suitcase_path(@suitcase, filter: @shared ? "" : :shared), class: "py-1 px-2  #{params[:filter] == "shared" ? "btn-checked" : "btn-ghost"}" %>
      <% else %>
        <%= link_to "Tous", suitcase_path(@suitcase, filter: @all ? "" : :all), class: "py-1 px-2  btn-menu-1 #{params[:filter] == "all" || params[:filter].nil? || params[:filter] == "" ? "btn-checked" : "btn-ghost"}" %>
        <%= link_to "Emballés", suitcase_path(@suitcase, filter: @checked ? "" : :checked), class: "py-1 px-2 btn-menu-1 #{params[:filter] == "checked" ? "btn-checked" : "btn-ghost"}" %>
        <%= link_to "Pas emballés", suitcase_path(@suitcase, filter: @unchecked ? "" : :unchecked), class: "py-1 px-2 btn-menu-2 #{params[:filter] == "unchecked" ? "btn-checked" : "btn-ghost"}" %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="itemlist">
        <%= render "itemlist", items: @items  %>
      </div>
    </div>
  </div>
</div>
