<div class="container">
  <h1><%= @suitcase.name %></h1>
  <h5><strong>For: </strong><%= @suitcase.destination %></h5>
  <h5><strong>From: </strong><%= @suitcase.start_date %></h5>
  <h5><strong>Until: </strong><%= @suitcase.end_date %></h5>
  <h5>Articles dans ma valise : </h5>
  <h6><%= link_to "Ajouter un article à ma valise",  new_suitcase_item_path(@suitcase) %></h6>
  <ul>
    <% @items.each do |item| %>
      <li>
        <%= item.name %>
        <%if item.packed %>
          <p>Packed</p>
          <% cta = "Unpack" %>
        <% else %>
          <p>Not packed yet</p>
          <% cta = "Mark as packed" %>
        <% end %>
        <%= link_to cta, item_tick_path(item), method: :patch %>
        <%= link_to "Remove", item_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
</div>


