<% if @suitcase.shared %>
  <%= link_to '+', new_suitcase_shared_item_path(@suitcase), class: "btn-circle-plus"  %>
<% else %>
  <%= link_to '+', new_suitcase_item_path(@suitcase), class: "btn-circle-plus" %>
<% end %>

<div class="container">
  <% if @suitcase.photo.attached? %>
    <div style=" display: flex; align-items: center; padding-top: 15px">
      <%= image_tag (cl_image_path @suitcase.photo.key), class: "avatar-large", alt: "avatar-large" %>
    <div>
        <div style="margin-left: 15px"><h3><%= @suitcase.name %></h3></div>
        <div style="margin-left: 15px"><strong><%= @suitcase.destination %></strong></h6></div>
      </div>
    </div>
  <% else %>
    <div style=" display:flex; align-items: center; padding-top: 15px">
      <%= image_tag (cl_image_path("waves_vacation_omfcsd.png")), class: "avatar-large", alt: "avatar-large" %>
      <div>
        <div style="margin-left: 15px"><h3><%= @suitcase.name %></h3></div>
        <div style="margin-left: 15px"><strong><%= @suitcase.destination %></strong></h6></div>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="container">
  <div class="row" >
    <div class="col-12" style="display: flex; justify-content: space-between; align-items: center">
        <%= link_to "Emballés", suitcase_path(@suitcase, filter: @checked ? "" : :checked), class: "py-1 px-1 btn-menu #{params[:filter] == "checked" ? "btn-checked" : "btn-ghost"}" %>
        <%= link_to "Pas emballés", suitcase_path(@suitcase, filter: @unchecked ? "" : :unchecked), class: "py-1 px-1 btn-menu #{params[:filter] == "unchecked" ? "btn-checked" : "btn-ghost"}" %>
        <%= link_to "Partagés", suitcase_path(@suitcase, filter: @shared ? "" : :shared), class: "py-1 px-1 btn-menu #{params[:filter] == "shared" ? "btn-checked" : "btn-ghost"}" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <% @items.each do |item| %>
        <div class="item-wrap py-1">
          <div class="item-packed" style="display:flex; align-items:center">
            <div class="d-flex align-self-end">
              <%if item.packed %>
                <% cta = '<i class="fas fa-check-circle"></i>'.html_safe %>
              <% else %>
                <% cta = '<i class="far fa-circle"></i>'.html_safe %>
              <% end %>
              <%= link_to cta, item_tick_path(item), method: :patch, remote: true %>
              <strong class="ml-2"><%= item.name.capitalize %></strong>
            </div>
            <% if item.shared %>
              <div class="badge badge-warning ml-2"><%= item.user_in_charge.first_name.capitalize if item.user_in_charge %></div>
            <% end %>
          </div>
          <div class="x-form">
            <%= link_to "+", item_path(item), method: :delete, data: { confirm: "Êtes-vous sûr ?" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
