<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <h1><%= @suitcase.name %></h1>
        <h5><strong>For: </strong><%= @suitcase.destination %></h5>
        <h5><strong>From: </strong><%= @suitcase.start_date %></h5>
        <h5><strong>Until: </strong><%= @suitcase.end_date %></h5>
        <h5>Articles dans ma valise : </h5>
      </div> 
    </div>
  </div>
  <br>
  <div class="row"> 
    <div class="col-12" style="display: flex; justify-content: center; align-items: center">
      <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_suitcase_item_path(@suitcase), class: "img-add" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12" style="display: flex; justify-content: center; align-items: center">
      <%= link_to "Packed", suitcase_path(@suitcase, filter: :checked), class: "btn btn-success btn-packed" %>
      <%= link_to "Unpacked", suitcase_path(@suitcase, filter: :unchecked), class: "btn btn-success btn-packed" %>
      <%= link_to "All", suitcase_path(@suitcase), class: "btn btn-success" %>
    </div>
  </div>
  

   <br>
  <%#= form_tag suitcase_path(@suitcase), method: :get do %>
      <%#= check_box_tag 'checked' %>
      <%#= submit_tag "Filtrer", class: "btn btn-primary" %>
  <%# end %>
    
  <div class="row">
    <div class="col-12">
        <% @items.each do |item| %>
        <div class="item-wrap">
          <div class="item-packed">
            <%if item.packed %>
              <% cta = "[x]" %>
            <% else %>
              <% cta = "[ ]" %>
            <% end %>
            <%= link_to cta, item_tick_path(item), method: :patch, remote: true %>
          </div>
          <div class="item-name">
            <strong><%= item.name %></strong>
          </div>  
          <div class="item-remove">
            <%= link_to image_tag("rubbish.png", class: "remove-picture"), item_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
        <% end %>
     
    </div>
  </div>
</div>




 <%# <li>
        <%= item.name %>
        <%# <%if item.packed %>
          <%# <p>Packed</p> %>
          <%# <% cta = "Unpack" %>
        <%# <% else %> 
          <%# <p>Not packed yet</p> %>
          <%# <% cta = "Mark as packed" %> 
        <%# <% end %> 
        <%# <%= link_to cta, item_tick_path(item), method: :patch %> 
        <%# <%= link_to "Remove", item_path(item), method: :delete, data: { confirm: "Are you sure?" } %> 
      <%# </li> %>
    <%# <% end %> 
  <%# </ul> %>
<%# </div> %> 


