<h1>Ajoutez des compagnons de voyage</h1>

<%= simple_form_for [@suitcase, @member] do |f| %>
  <%= f.input :email %>
  <%= f.submit "Ajouter" %>
<% end %>

<% @suitcase.member_users.each do |user| %>
  <%= user.first_name %>
<% end %>

<%= link_to "Voir ma valise", suitcase_path(@suitcase), class: 'btn btn-primary' %>


