<div class="container mt-3 text-center bg-light-gray">
  <div class="row mb-5">
    <div class="col">
      <h4 class="mb-4">Compagnons de voyage</h4>
      <%= simple_form_for [@suitcase, @member] do |f| %>
        <%= f.input :email, label: "Email :", placeholder: "brigitte@gmail.com", input_html: { class: "text-center" } %>
        <%= f.submit "Ajouter", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <h5 class="mb-3">Les compagnons de cette valise :</h5>
      <ul class="companion-list">
        <% @suitcase.member_users.each do |user| %>
          <li><i class="fas fa-user mr-2"></i><%= user.first_name&.capitalize %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <%= link_to "Continuer<i class='fas fa-arrow-circle-right'></i>".html_safe, suitcase_path(@suitcase), class: 'btn btn-back mt-3 mb-4 d-flex justify-content-end' %>
    </div>
  </div>
</div>

